/* banner css start  */
.banner-area {
  position: relative;
}

.banner-shape-1 {
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
}

.banner-shape-4 {
  position: absolute;
  top: 190px;
  left: 0;
  max-width: 600px;
}

.banner-shape-5 {
  position: absolute;
  bottom: 85px;
  right: 0;
  max-width: 425px;
}

.banner-wrap {
  max-width: 1155px;
  margin: 0 auto;
  border: 1px solid var(--text-color);
  border-radius: 29px;
  padding: 32px 32px 20px;
  position: relative;
  background: linear-gradient(180deg, #18181b, #18191b00);
  box-shadow: var(--box-shadow);
  backdrop-filter: blur(5px);
}

.banner-inside-wrap {
  border: 1px solid var(--text-color);
  background: transparent;
  border-radius: 8px;
  padding: 13px 17px;
  box-shadow: var(--box-shadow);
}

.banner-shape-2 {
  position: absolute;
  top: 72px;
  left: 65px;
  max-width: 415px;
  z-index: -1;
}

.banner-shape-3 {
  position: absolute;
  top: 132px;
  right: 30px;
  max-width: 500px;
  z-index: -1;
}

.banner-shape-6 {
  position: absolute;
  bottom: 160px;
  left: 250px;
  max-width: 210px;
}

.banner-shape-7 {
  position: absolute;
  top: 0;
  right: -80px;
  max-width: 210px;
}

.banner-shape-8 {
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
  width: 1200px;
}

.banner-icon-wrap {
  display: flex;
  align-items: center;
  gap: 6px;
}

.icon-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 50%;
  width: 11.5px;
  height: 11.5px;
}

.icon-item svg {
  font-size: 12px;
}

.banner-heading {
  margin-bottom: 80px;
  text-align: center;
}

.banner-heading h2 span {
  font-size: 55px;
  font-family: var(--orbitron-font-family);
  font-weight: 600;
  text-align: center;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(
    135deg,
    #292929 4%,
    #fff 32%,
    #676767 55%,
    #fff 73%
  );
  -webkit-background-clip: text;
  background-clip: text;
  margin-bottom: 5px;
}

.banner-bar {
  display: flex;
  margin: 0 auto;
  align-items: center;
  max-width: 335px;
  border-radius: 100px;
  border: 1px solid var(--primary-color);
  background: #2a6263;
  padding: 2px 12px;
  position: relative;
  z-index: 1;
}

.banner-bar::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background: var(--primary-color);
  border-radius: 100px;
  width: 146px;
  height: 100%;
  z-index: -1;
}

.banner-bar p {
  color: #000;
  font-size: 15px;
}

.banner-title {
  padding: 0 55px;
  text-align: center;
}

.banner-title h1 span {
  font-family: var(--orbitron-font-family);
  -webkit-text-fill-color: transparent;
  background: linear-gradient(
    135deg,
    #292929 4%,
    #fff 32%,
    #676767 55%,
    #fff 73%
  );
  -webkit-background-clip: text;
  background-clip: text;
  margin-bottom: 15px;
}

.banner-description {
  text-align: center;
  margin-bottom: 50px;
}

.banner-contact {
  text-align: center;
}

.banner-contact form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px auto 0;
  max-width: 525px;
  height: 80px;
  padding: 5px 5px 5px 22px;
}

.banner-contact input {
  background: transparent;
  border: 0;
  outline: 0;
  color: #fff;
}

.banner-contact input::placeholder {
  color: #fff;
}

.hash-icon {
  text-align: center;
}

.hash-icon img {
  width: 28px;
}

/* banner css end */

/* meet css start  */

.meet-area {
  position: relative;
}

.meet-shape-1 {
  position: absolute;
  bottom: -150px;
  left: 0;
  max-width: 600px;
}

.meet-wrap {
  max-width: 1532px;
  margin: 0 auto;
  backdrop-filter: blur(5px);
  padding: 10px;
}

.meet-btn {
  text-align: center;
  margin: 20px 0 90px;
}

.meet-description {
  max-width: 1145px;
  margin: 0 auto;
  text-align: center;
}

.meet-description h4 {
  margin-bottom: 40px;
}

/* meet css end */

/* feature css start  */

.feature-area {
  position: relative;
}

.feature-shape-1 {
  position: absolute;
  bottom: -50px;
  left: 0;
  max-width: 600px;
}

.feature-shape-2 {
  position: absolute;
  top: 150px;
  right: 0;
  max-width: 425px;
}

.feature-wrap {
  max-width: 1532px;
  margin: 0 auto;
  backdrop-filter: blur(5px);
  padding: 0 0 50px;
}

.feature-btn {
  text-align: center;
  margin: 20px 0 40px;
}

.feature-btn a {
  width: 325px;
}

.feature-description {
  max-width: 1165px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

.feature-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 50px;
  max-width: 1315px;
  margin: auto;
  padding: 20px;
}

.feature-item-wrap {
  padding: 20px;
  display: flex;
  flex-direction: column;
  grid-column: span 4;
}

.feature-item-wrap:nth-child(n + 4) {
  grid-column: span 6;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.feature-item-icon img {
  width: 30px;
  height: 30px;
}

.feature-item-symbol {
  text-align: center;
}

.feature-item-symbol img {
  width: 150px;
  height: 150px;
}

.feature-item-wrap:nth-child(n + 4) .feature-item-symbol img {
  width: 200px;
  height: 200px;
}

.feature-item-title h5 {
  font-size: 20px;
  margin: 30px 0 20px;
}

.feature-item-description {
  max-width: 300px;
}

.feature-item-description p {
  font-size: 14px;
  color: var(--text-color);
}

/* feature css end */

/* how to use css start  */

.how-to-use-area {
  position: relative;
  padding-top: 20px;
}

.how-to-shape-1 {
  position: absolute;
  max-width: 425px;
  top: 20px;
  right: 0;
}

.how-to-use-wrap {
  max-width: 1420px;
  margin: 0 auto;
}

.how-to-use-btn {
  text-align: center;
  margin-bottom: 100px;
}

.how-to-use-btn a {
  width: 325px;
}

.how-to-use-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 130px;
}

.how-to-use-item {
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(5px);
}

.how-to-use-item .item-img {
  padding: 0 45px;
}

.how-to-use-item .item-text {
  padding: 20px 75px 40px 20px;
}

.how-to-use-item .item-tag span {
  font-size: 11px;
  color: var(--text-color);
}

.how-to-use-item .item-heading {
  margin-bottom: 20px;
}

.how-to-use-item .item-heading h5 {
  font-size: 20px;
}

.how-to-use-item .item-description p {
  font-size: 14px;
  color: var(--text-color);
}

/* how to use css end */

/* our partner css start  */

.our-partner-area {
  position: relative;
}

.our-partner-shape-1 {
  position: absolute;
  max-width: 600px;
  top: 30px;
  left: 0;
}

.our-partner-shape-2 {
  position: absolute;
  max-width: 425px;
  bottom: 30px;
  right: 0;
}

.our-partner-wrap {
  max-width: 1535px;
  margin: 0 auto;
  backdrop-filter: blur(5px);
}

.our-partner-btn {
  text-align: center;
  margin: 45px 0;
}

.our-partner-btn a {
  width: 200px;
}

.our-partner-title {
  max-width: 1165px;
  text-align: center;
  margin: 0 auto 40px;
}

.our-partner-content {
  max-width: 1330px;
  margin: 0 auto 55px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 45px 95px;
}

.our-partner-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 20px 20px 40px;
}

/* our partner css end */

/* faq css start  */

.faq-area {
  position: relative;
  padding-top: 0;
}

.faq-shape-1 {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 600px;
}

.faq-wrap {
  max-width: 1535px;
  margin: 0 auto;
}

.faq-btn {
  text-align: center;
  margin-bottom: 45px;
}

.faq-btn a {
  max-width: 120px;
}

.faq-title {
  max-width: 1165px;
  text-align: center;
  margin: 0 auto 40px;
}

.faq-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px 20px;
}

.faq-item {
  backdrop-filter: blur(5px);
  padding: 20px 35px;
}

.faq-item details[open] .faq-summary h5 {
  color: var(--primary-color);
}

.faq-item details[open] .faq-summary span svg {
  transform: rotate(45deg);
  fill: var(--primary-color);
}

.faq-summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  cursor: pointer;
  gap: 12px;
}

.faq-summary h5 {
  font-size: 23px;
  margin-bottom: 10px;
  transition: all 0.3s linear;
}

.faq-summary span {
  flex-shrink: 0;
}

.faq-summary span svg {
  width: 20px;
  transition: all 0.3s linear;
}

.faq-item details p {
  color: var(--text-color);
  font-size: 18px;
  max-width: 620px;
}

/* faq css end */

/* cto css start  */

.cto-area {
  position: relative;
  padding-top: 30px;
  padding-bottom: 150px;
}

.cto-shape-1 {
  position: absolute;
  top: -20px;
  right: 0;
  max-width: 425px;
}

.cto-wrap {
  max-width: 1235px;
  margin: 0 auto;
}

.cto-title {
  overflow: auto;
}

.cto-title h2 span {
  font-size: 65px;
  font-family: var(--orbitron-font-family);
  -webkit-text-fill-color: transparent;
  background: linear-gradient(
    135deg,
    #292929 4%,
    #fff 32%,
    #676767 55%,
    #fff 73%
  );
  -webkit-background-clip: text;
  background-clip: text;
  margin-bottom: 15px;
}
.cto-title form {
  float: right;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 525px;
  width: 100%;
  height: 65px;
  padding: 5px 5px 5px 22px;
}

.cto-title input {
  background: transparent;
  border: 0;
  outline: 0;
  color: #fff;
}

.cto-title input::placeholder {
  color: #fff;
}

/* cto css end */
